@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --color-gray1: #0A0A0B;
    --color-gray2: #121214;
    --font-primary: 'IBM Plex Sans', sans-serif;
    --font-secundary: 'Inter', sans-serif;
}